@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Disaster Relief</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary me-2">Login</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">Register</a>
    </div>
</div>
